@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(135deg, #FC8860 0%, #FFCC6F 100%);
}

.container {
    min-height: 320px;
    width: 450px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 36px auto;
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 73, 36, 0.83);
}

.card-header-logo {
    width: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

}

/* Order form */
.order-form {
    background-color: #fff;
    height: 100%;
    padding: 48px 20px;
}

.order-form h1 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    padding: 12px 0;
}

.order-list {
    list-style: none;
}

.order-item {
    display: flex;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
}

.order-item button {
    padding: 2px 10px;
    margin: 0 4px;
}

.price {
    margin-left: auto;
}

input[type = "number"] {
    width: 60px;
    border: none;
}

button {
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

button:not(#btn-checkout):hover {
    opacity: 0.7;
}

#btn-checkout {
    width: 100%;
    background-color: rgba(255, 73, 36, 0.83);
}

.order-summary {
    padding: 10px;
    margin: 15px 0;
    background-color: #f4f4f6;
    border-radius: 5px;
    font-size: 15px;
    line-height: 25px;
}

.money {
    float: right;
}

.btn-add {
    border: 1px solid gray;
    width: 180px;
    margin-top: 16px;
}

